/*mobile screens*/
@media (max-width:767px){
    .eight.wide.column.pro-list{
        width: 400px !important;
    }
    .list{
        width: 100% !important;
    }
    .ui.link.card{
        width: 100% !important;
        
    }
    .ui.form .seven.wide.field{
        width: 75% !important;
    }
   .ui.form:not(.unstackable) .fields:not(.unstackable)>.seven.wide.field{
       width: 75% !important;
       padding-right: 4px !important;
   }
   .ui.form:not(.unstackable) .fields:not(.unstackable)>.four.wide.field{
       width: 20% !important;
   }
  

    .ui.column.grid>[class*="five wide"].column, .ui.grid>.column.row>[class*="five wide"].column, .ui.grid>.row>[class*="five wide"].column, .ui.grid>[class*="five wide"].column {
        width: 44% !important;
    }
.dashboard .ui.grid [class*="right floated"].column {
    margin-left: 0;
}


.notifications p{
    font-size: 12px;
    /* display: none !important; */
}
}
/*small screens*/
@media (min-width:768px) and (max-width:991px){
   
}

/*medium screens*/
@media (min-width:991px) and (max-width:1199px){
   
}

/*large screens*/
@media (min-width:1200px){
    
}